@font-face {
    font-family: "GothamRounded";
    src: url("../fonts/Gotham Rounded Medium.otf");
}

/*При ширине экрана 1200px и выше */
@media (min-width: 1200px){

}

/*При ширине экрана от 992px до 1199px*/
@media (min-width: 992px) and (max-width:1199px){

    }

/*При ширине экрана от 768px до 991px*/
@media (min-width: 768px) and (max-width:991px){

}

/*При ширине экрана 767px и меньше */
@media (max-width: 767px){
    
}

body {
    background-color: white;
    margin: 0px;
}

.image_photo {
    background-image: url('../photo/Livello 1.png');
    background-size: cover;
    height: 900px;
}

li {
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;

}

.home {
    font-size: 16px;
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.photoapp {
    font-size: 16px;
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.photo {
    background-image: url('../photo/Livello 2.png');
    left: 607px;
    top: 40px;
    width: 53px;
    height: 55px;
}

.design {
    font-size: 16px;
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.download {
    font-size: 16px;
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

.life_text {
    font-size: 36px;
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    padding: 1%;
    letter-spacing: 0.4em;
    padding-top: 20%;
}

.print_text {
    font-size: 16px;
    font-family: "GothamRounded";
    padding-bottom: 1%;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2em;
}

.bottom_start {
    font-size: 0.9em;
    border-radius: 3px;
    background-color: rgb(22, 160, 133);
    text-align: center;
    width: 166px;
    height: 49px;
    margin: 1%;
}

.bottom_text {
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.your {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yours {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18%;
}

.photos {
    margin: 0.5%;
}

.div4 {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}

.text3 {
    font-size: 18px;
    font-family: "GothamRounded";
    color: rgb(22, 160, 133);
    font-weight: bold;
    text-transform: uppercase;
    width: 360px;
    margin-top: 20%;
    margin-bottom: 8%;
}

.text4 {
    font-size: 12px;
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    width: 360px;
    height: 107px;
}

.big_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ececec;
}

.iphone_photo {
    height: 25em;
    width: 35em;
    margin-top: 10%;
}

.big_div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;

}

.text5 {
    font-size: 18px;
    font-family: "GothamRounded";
    color: rgb(22, 160, 133);
    font-weight: bold;
    text-transform: uppercase;
    width: 360px;
    margin-bottom: 8%;
}

.number {
    font-size: 12px;
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5%;

}

.str {
    display: flex;
    flex-wrap: wrap;
}

.photo_str1 {
    margin-top: 2%;
    margin-right: 5%;
    width: 11px;
    height: 16px;
}

.photo_str2 {
    margin-top: 2%;
    margin-right: 5%;
    width: 11px;
    height: 16px;
}

.photo_photo {
    width: 59px;
    height: 55px;
}

.text6 {
    font-size: 16px;
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 7%;
}

.text7 {
    font-size: 10px;
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    text-align: center;
    width: 139px;
    height: 34px;
    margin-top: 7%;
}

.owtom_photo {
    width: 371px;
    height: 244px;
    margin-top: 10%;
    margin-left: 5%;
}

.car_photo {
    width: 370px;
    height: 244px;
    margin-top: 10%;
    margin-right: 5%;

}

.div5 {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    align-items: center;
    margin-top: 5%;
    margin-right: 5%;
}

.big_div3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ececec;
    padding-top: 5%;
    padding-bottom: 6%;
}

.str2 {
    display: flex;
    margin-top: 1%;
}

.photo_str3 {
    margin-top: 2%;
    margin-right: 1em;
    width: 11px;
    height: 16px;
}

.photo_str4 {
    margin-top: 2%;
    width: 11px;
    height: 16px;
}

.arms_photo {
    background-image: url("../photo/Livello 3.png");
    background-size: cover;
    height: 790px;
}

.text8 {
    font-size: 24px;
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.bottom_start2 {
    font-size: 0.9em;
    border-radius: 3px 0px 0px 3px;
    background-color: white;
    text-align: center;
    width: 270px;
    height: 49px;
}

.bottom_text2 {
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
}

.bottom_start3 {
    font-size: 0.9em;
    border-radius: 0px 3px 3px 0px;
    background-color: rgb(22, 160, 133);
    text-align: center;
    width: 50px;
    height: 49px;
}

.small_div {
    display: flex;
}

.ultra_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}

.ok_icon {
    padding-top: 30%;
}

.big_div4 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    padding-top: 5%;
    padding-bottom: 7%;
}

.down {
    font-size: 20px;
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    font-weight: bold;
    text-transform: uppercase;
}

.loren {
    font-size: 12px;
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    text-transform: uppercase;
    text-align: center;
    width: 840px;
    height: 54px;
}

.bottom_text3 {
    font-size: 16px;
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5%;
    text-align: left;
}

.bottom_start4 {
    font-size: 0.9em;
    border-radius: 3px 0px 0px 3px;
    background-color: rgb(26, 188, 156);
    text-align: center;
    width: 270px;
    height: 49px;
}

.bottom_start5 {
    font-size: 0.9em;
    border-radius: 0px 3px 3px 0px;
    background-color: rgb(22, 160, 133);
    text-align: center;
    width: 50px;
    height: 49px;
    margin-right: 5%;
}

.text_footer {
    font-size: 14px;
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    font-weight: bold;
    text-transform: uppercase;
}

.text_footer2 {
    font-size: 14px;
    font-family: "GothamRounded";
    color: rgb(55, 55, 55);
    font-weight: bold;
}

.bif_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photo_foother {
    margin: 2%;
}